name: Deploy PR preview to pr-1079

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - main

concurrency: preview-1079

jobs:
  deploy-preview:
    runs-on: ubuntu-latest

    steps:
      - name: Set up environment variables
        run: |
          echo "REACT_APP_PREVIEW_BASE=pr-1079" >> $GITHUB_ENV
          echo "REACT_APP_DEPLOY_ENV=PREVIEW" >> $GITHUB_ENV
          echo "REACT_APP_PUBLIC_URL=https://push-protocol.github.io" >> $GITHUB_ENV
          echo "GITHUB_PR_NUMBER=1079" >> $GITHUB_ENV
          echo "REACT_APP_BASE_URL=/push-chain-website/pr-preview/pr-1079" >> $GITHUB_ENV

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install Corepack & Yarn 4.2.2
        run: |
          corepack enable
          corepack prepare yarn@4.2.2 --activate
          yarn --version

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: yarn

      - name: Install and Build
        run: |
          yarn install
          yarn build:pr:preview

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: build
          target-folder: pr-preview/pr-1079
          clean: true
